.footer {
    @include fill;
    margin-top: 10%;
    background-color: black;
    padding: 30px 5% 0 5%;
}

.fine-print-container {
    @include flexStyle(row, space-between);
    @include fill;
    height: 14%;
    @media(max-width: 750px){
        flex-direction: column;
    }
}

.fine-print-right {
    @include flexStyle(row, flex-end);
    width: 40%;
    a {
        color: darkgrey;
        margin: 12px 0 0 25px;
        text-decoration: none;
        font-size: 12px;
    }
    @media(max-width: 750px){
        flex-direction: column;
        a {
            margin: 12px 0 0 0;
        }
    }
}

.fine-print-left {
    @include flexStyle(row);
    width: 40%;
    p {
        color: white;
        margin-right: 25px;
        font-size: 12px;
    }
    .trademark {
        color: darkgrey;
    }
    @media(max-width: 750px){
        flex-direction: column;
    }
}

.border {
    height: 1px;
    width: 100%;
    opacity: 0.20;
    background-color: white;
}

.footer-container {
    @include flexStyle(row);
    height: 85%;
    width: 100%;
    @media(max-width: 750px){
        flex-direction: column;
    }
}

.social-links {
    @include flexStyle(row, flex-end);
    width: 300px;
    height: 40px;
    padding-right: 10px;
    @media(max-width: 750px){
        justify-content: flex-start;
        padding: 20px 0;
        margin: 0;
    }
}

.social-link {
    list-style: none;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 20px; 
    cursor: pointer;
    &:hover {
        opacity: 0.85;
    }
    @media(max-width: 750px){
        margin: 0 10px 0 0;
    }
}

.footer-section {
    height: 100%;
    width: 28%;
    margin-right: 30px;
    a {
        text-decoration: none;
        display: block;
        margin: 14px 0;
        color: white;
        font-size: 12px;
    }
    @media(max-width: 1000px){
        width: 50%;
    }
}

.bold {
    text-decoration: none;
    display: block;
    margin: 14px 0;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

.footer-section-container {
    @include flexStyle(row);
    width: 90%;
    height: 100%;
    @media(max-width: 750px){
        flex-direction: column;
    }
}