.media-container-lrg {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .Links {
        width: 48%;
    }
}

.media-container-med {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .Links {
        width: 32%;
    }
}

.image-container-lrg {
    position: relative;
    height: 100%;
}

.image-container-med {
    position: relative;
    height: 100%;
    // width: 400px;   
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.top-left {
    position: absolute;
    top: 0px;
    left: 20px;
    p {
        font-size: 24px;
        margin: 10px;
    }
}
.bottom-left {
    position: absolute;
    top: 80%;
    left: 20px;
    p {
        font-size: 24px;
        margin: 10px;
    }
}
.image-label {
    font-size: 20px;
    margin-top: 10px;
}

@media(max-width: 1000px){
    .media-container-lrg {
        height: 500px;
        .Links {
            width: 48%;
        }
    }
    .image-label {
        font-size: 16px;
    }
    .media-container-med {
        height: 450px;
    }
}
@media(max-width: 700px){
    .media-container-lrg {
        flex-direction: column;
        height: 100%;
        .Links {
            width: 100%;
            height: 600px;
            margin-bottom: 10px;
        }
    }
}