.media-container-lrg {
    @include flexStyle(row, space-between);
    width: 100%;
    height: 700px;
    .Links {
        width: 48%;
    }
    @media(max-width: 1000px){
        height: 500px;
    }
    @media(max-width: 700px){
        flex-direction: column;
        height: 100%;
        .Links {
            width: 100%;
            height: 600px;
            margin-bottom: 10px;
        }
    }
}

.media-container-med {
    @extend .media-container-lrg;
    height: 550px;
    .Links {
        width: 32%;
    }
    @media(max-width: 1000px){
        height: 450px;
    }
    @media(max-width: 700px){
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        .Links {
            width: 100%;
        }
    }
}

.image-container-lrg {
    position: relative;
    height: 100%;
}

.image-container-med {
    @extend .image-container-lrg;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.top-left {
    position: absolute;
    top: 0px;
    left: 20px;
    p {
        font-size: 24px;
        margin: 10px;
    }
}
.bottom-left {
    @extend .top-left;
    top: 80%;
}
.image-label {
    font-size: 20px;
    margin-top: 10px;
    @media(max-width: 1000px){
        font-size: 16px;
    }
}
