.Navbar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    .Logo {
        object-fit: cover;
        width: 100px;
        height: 90px;
        display: block;
        text-align: center;
        padding: 8px 0 0 0;
        box-sizing: border-box;
    }
    .Link-List {
        text-decoration: none;
        height: 40px;
        padding-top: 8px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
    }
    .Search-Bar {
        width: 150px;
        height: 40px;
        background-color: lightgrey;
        border-radius: 20px;
        margin-left: 40px;
    }
    .Nav-Icons {
        width: 120px;
        height: 28px;
        svg {
            border-radius: 8px;
            cursor: pointer;
            &:hover {
                background-color: lightgrey;
            }
        }
        .Shopping-Bag-Icon {
            margin-left: 25px;
        }
    }
}

        .NavLinks {
            text-decoration: none;
            font-size: 16px;
            display: block;
            height: 100%;
            margin-left: 30px;
            outline: none;
            &:visited {
                color: black;
            }
            &:hover {
                border-bottom: 2px solid black;
                cursor: pointer
            }
        }

        .Links {
            text-decoration: none;
            &:visited {
                color: black;
            }
        }

.Search-Button {
    margin: 0;
    border-radius: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        background-color: grey;
    }
}

.logo-link {
    outline: none;
}

