.Navbar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 20px;
}
.Shopping-Bag-Icon {
    margin-left: 25px;
}
.Nav-Icons {
    width: 120px;
    height: 28px;
    position: relative;
    bottom: 10px;
    svg {
        border-radius: 8px;
        cursor: pointer;
        &:hover {
            background-color: lightgrey;
        }
    }
}
.Search-Bar {
    width: 150px;
    height: 40px;
    background-color: lightgrey;
    border-radius: 20px;
    margin-left: 40px;
    position: relative;
    bottom: 3px;
}
.Link-List {
    text-decoration: none;
    height: 40px;
    padding-top: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.Logo {
    object-fit: cover;
    width: 100px;
    height: 70px;
    display: block;
    text-align: center;
    padding: 8px 0 0 0;
    box-sizing: border-box;
}

.NavLinks {
    text-decoration: none;
    font-size: 16px;
    display: block;
    height: 100%;
    position: relative;
    bottom: 3px;
    margin-left: 30px;
    outline: none;
    &:visited {
        color: black;
    }
    &:hover {
        border-bottom: 2px solid black;
        cursor: pointer
    }
}

.Links {
    text-decoration: none;
    &:visited {
        color: black;
    }
}

.Search-Button {
    margin: 0;
    border-radius: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        background-color: grey;
    }
}

.logo-link {
    outline: none;
}

@media (max-width: 1000px){
    .NavLinks {
        font-size: 14px;
    }
    .Search-Bar {
        width: 110px;
        height: 30px;
        bottom: 10px;
    }
    .Search-Button {
        svg {
            height: 28px;
            width: 18px;
            
        }
    }
    .Logo {
        width: 80px;
        height: 80px;
        padding: 4px 0 0 0;
    }
    .Favorite-Icon {
        height: 24px;
        width: 24px;
        margin-left: 20px;
    }
    .Shopping-Bag-Icon {
        height: 24px;
        width: 24px;
        margin-left: 10px;
    }
}