.product-carousel {
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: thin;
    display: flex;
    flex-direction: row;  
    .product-tile {
        margin-right: 40px;
        width: 40%;
    }
    .product-img {
        width: 350px;
    }      
}
@media(max-width: 1000px){
    .product-carousel {
        .product-img {
            width: 250px;
        }
        .product-tile{
            height: 400px;
        }
    }
}
@media(max-width: 700px){
    .product-carousel {
        .product-img {
            width: 200px;
        }
    }
}
@media(max-width: 500px){
    .product-carousel {
        .product-img {
            width: 175px;
        }
        .product-tile{
            height: 325px;
        }
    }
}