.product-tile {
    display: flex;
    flex-direction: column;
    padding: 0 10px 20px 0;
    width: 30%;
    height: 500px;
    margin-bottom: 40px;
}
.product-img {
    width: 100%;
    background-color: lightgrey;
    cursor: pointer;
    &:hover {
        opacity: 0.90;
    }
}
.product-info {
    margin-top: 10px;
    height: 25%;
    .product-type {
        color: darkgrey;
    }
    .product-colors {
        color: darkgrey;
        margin-bottom: 20px;
    }
    p {
        margin: 4px;
    }
}

.product-name {
    &:hover {
        color: darkblue;
    }
}
@media(max-width: 1000px){
    .product-tile {
        width: 40%;
    }
}
@media(max-width: 900px){
    .product-tile {
        width: 45%;
    }
}
@media(max-width: 800px){
    .product-tile {
        width: 50%;
        height: 425px;
    }
}

