$tile-height: 500px;

.product-tile {
    @include flexStyle(column);
    padding: 0 10px 20px 0;
    width: 30%;
    height: $tile-height;
    margin-bottom: 40px;
    @media (max-width: 1000px){
        width: 45%;
    }
    @media(max-width: 800px){
        height: $tile-height - 75;
    }
    @media (max-width: 600px){
        height: $tile-height + 200;
    }
    @media (max-width: 500px){
        height: $tile-height + 50;
    }
}
.product-img {
    width: 100%;
    background-color: lightgrey;
    cursor: pointer;
    &:hover {
        opacity: 0.90;
    }
}
.product-info {
    margin-top: 10px;
    height: 25%;
    .product-type {
        color: darkgrey;
    }
    .product-colors {
        color: darkgrey;
        margin-bottom: 20px;
    }
    p {
        margin: 4px;
    }
}

.product-name {
    &:hover {
        color: darkblue;
    }
}


