.Media-Page-Container {
    max-width: 1366px;  
}

.section-container {
    margin: 5%;
}

.label-lrg {
    font-size: 30px;
    margin: 0 0 2% 0;
    @media(max-width: 500px) {
        font-size: 20px;
    }
}

.label-container {
    @include flexStyle(row, space-between);
    a {
        text-decoration: none;
        color: black;
    }
    @media(max-width: 500px) {
        a {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}

@keyframes slide-left {
    to {
        transform: translateX(-410px);
    }
}

