.Media-Page-Container {
    width: 100vw;
}

.section-container {
    margin: 5%;
}

.label-lrg {
    font-size: 30px;
    margin: 0 0 2% 0;
}

.label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: black;
    }
}

@keyframes slide-left {
    to {
        transform: translateX(-410px);
    }
}

@media(max-width: 500px) {
    .label-lrg {
        font-size: 20px;
    }
    .label-container {
        a {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}

