.Landing {
    height: 100%;
    width: 100vw;
    .section-container {
        margin: 5%;
        .label {
        font-size: 30px;
        margin: 0 0 2% 0;
        }
        .promo-image {
            background-image: url('../../assets/images/sneaker-1.jpg');
            background-size: 100%;
            background-position: center;
            height: 600px;
            width: 100%;
            .promo-text {
                position: relative;
                width: 30%;
                top: 60%;
                margin-left: 30px;
                .big {
                    font-size: 50px;
                    font-weight: 700;
                    margin: 0;
                    line-height: 95%;
                }
                .small {
                    margin: 3% 0 0 0;
                }
                button {
                    margin-top: 50px;
                }
            }
        }
    }
    .label-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a {
            text-decoration: none;
            color: black;
        }
    }
    .sneaker-carousel {
        width: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        .sneaker-tile {
            display: flex;
            flex-direction: column;
            padding-right: 10px;
            .sneaker-img {
                width: 400px;
                height: 400px;
                background-color: lightgrey;
                background-image: url('../../assets/images/sneaker-tile.webp');
                background-size: cover;
                cursor: pointer;
                .arrow {
                    display: none;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: grey;
                    position: relative;
                    z-index: 2;
                    top: 175px;
                    cursor: pointer;
                }
                .right {
                    left: 85%;
                }
                .left {
                    left: 5%;            
                }

                &:hover {
                    opacity: 0.90;
                    .arrow {
                        display: block;
                    }
                }
            }
            .sneaker-info {
                display: flex;
                flex-direction: column;
                p {
                    margin: 0;
                }
                .name-price {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 10px;
                    .price {
                        margin-right: 15px;
                    }
                }
                .sub-label {
                    color: darkgrey;
                }
            }            
        }
    }
}

.image-container {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .feat-image {
        height: 700px;
        width: 600px;
        background-size: 100%;
    }
    .image-left {
        background-image: url('../../assets/images/model-2.jpg');
        p {
            font-size: 24px;
            margin: 20px 0 0 20px;
            color: white;
        }
        button {
            margin: 20px 0 0 20px;
        }
    }
    .image-right {
        background-image: url('../../assets/images/model-1.jpg');
        p {
            font-size: 24px;
            margin: 20px 0 0 20px;
            color: black;
        }
        button {
            margin: 20px 0 0 20px;
        }
    }
}

.fall-image {
    background-color: grey;
    height: 550px;
    width: 400px;
}

.bottom-label {
    font-size: 20px;
}

@keyframes slide-left {
    to {
        transform: translateX(-410px);
    }
}

