.ProductPage {
    @include contain(100vw);
}

.product-nav {
    @include flexStyle(row, space-between);
    margin: 5%;
    height: 50px;
}

.nav-options {
    @include flexStyle(row);
}

.nav-option {
    @extend .filter-btn;
}

.nav-filter {
    margin-right: 30px;
}

.sort-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
}

.nav-sort {
    height: 100%;
}

.sort-dropdown {
    &:hover {
        .sort-content {
            display: block;
        }
    }
}

.productPage-label {
    font-size: 30px;
}

.products-filter-container {
    @include flexStyle(row);
    width: 100%;
    padding: 2% 5%;
}
.products-container {
    @include flexStyle(row);
    flex-wrap: wrap;
    @media (max-width: 700px){
        flex-direction: column;
        width: 100vw;
        height: 100%;
        flex-wrap: nowrap;
        padding: 0;
        .product-tile {
            width: 95vw;
            height: 750px;
        }
        a {
            margin-right: 30px;
        }
    }
}