.Product-page {
    @include contain(1366px);
    @include flexStyle(row);
    width: 100vw;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 0 20px;
    @media (max-width: 1000px){
        flex-direction: column;
    }
}

.product-snapshots-container {
    width: 70%;
    @media (max-width: 1000px){
        width: 100%;
        height: 200vh;
        margin-bottom: 50px;
    }
    @media (max-width: 900px){
        height: 175vh;
    }
    @media (max-width: 800px){
        height: 150vh;
    }
    @media (max-width: 700px){
        height: 125vh;
    }
    @media (max-width: 600px){
        height: 90vh;
    }
    @media (max-width: 500px){
        height: 75vh;
    }
}

.product-snapshots {
    @include flexStyle(row);
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 0 10px;
    @media (max-width: 1000px){
        flex-wrap: nowrap;
        overflow-X: scroll;
        height: 100%;
    }
}

.snapshot {
    height: 520px;
    width: 45%;
    margin: 0 0 2.5% 2.5%;
    @media (max-width: 1000px){
        height: 100%;
        width: 100%;
    }
}

.product-options-container {
    width: 30%;
    box-sizing: border-box;
    padding: 25px;
    @media (max-width: 1000px){
        width: 100%;
    }
}

.product-header-container {
    @include flexStyle(column);
    padding: 0 10px;
}

.product-type {
    @include flexStyle(row, space-between);
    width: 100%;
}

.product-header {
    width: 100%;
    font-size: 30px;
}

.product-header-price {
    color: red;
}

.product-sizing-container {
    width: 100%;
}

.product-sizing-labels {
    @include flexStyle(row, space-between);
    @include fill;
    padding: 10px;
    margin-top: 5%;
}

.size-guide {
    color: darkgrey;
}

.product-sizing-buttons-container {
    @include flexStyle(row);
    @include fill;
    flex-wrap: wrap;
    padding-top: 8px;
}

.product-size-btn {
    width: 60px;
    height: 55px;
    border-radius: 6px;
    border: 1px solid darkgrey;
    outline: none;
    margin: 0 0 8px 8px;
    background-color: white;
    cursor: pointer;
    &:hover {
        border: 1px solid black;
    }
    &:active {
        border: 1px solid black;
    }
    @media (max-width: 1000px){
        width: 49%;     
    }
    @media (max-width: 900px){
        width: 48%;
    }
    @media (max-width: 500px){
        width: 47%;
    }
}

.product-save-buttons-container {
    @include flexStyle(column);
    @include fill;
    padding: 10px;
    margin-top: 10px;
    button {
        width: 100%;
        height: 60px;
        margin-bottom: 8px;
        border-radius: 40px;
        outline: none;
        font-size: 16px;
        cursor: pointer;
    }
}
.add-to-bag {
    background-color: black;
    color: white;
    border: none;
    &:hover {
        opacity: 0.80;
    }
}

.favorite {
    background-color: white;
    border: 1px solid lightgrey;
    &:hover {
        border: 1px solid black;
    }
}

.product-description {
    line-height: 150%;
    padding: 10px;
    margin-top: 40px;
    font-size: 16px;
}

.you-might-like {
    margin: 60px 0 20px 2.5%;
    font-size: 16px;
    font-weight: 700;
}

.shipping-returns-container {
    padding: 10px;
    margin-top: 50px;
    p:nth-child(1) {
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 550;
    }
    p:nth-child(3){
        text-decoration: underline;
        cursor: pointer;
    }
}

.carousel-container {
    width: 100%;
}
  