.shop-btn {
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
    background-color: black;
    padding: 8px 28px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    &:hover {
        opacity: .85;
    }    
}
@media(max-width: 1000px){
    .shop-btn {
        font-size: 16px;
        padding: 6px 24px;
    }
}