@keyframes expand {
    from {
        height: 0;
    }
    to {
        height: 300px;
    }
}
@keyframes contract {
    from {
        height: 300px;
    }
    to {
        height: 0px;
    }
}

.Dropdown {
    margin-top: 2px;
    background-color: lightgrey;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    // box-sizing: border-box;
    .Section {
        padding: 20px 35px;
        width: 10%;
        ul {
            list-style: none;
            padding: 0;
        }
    }
}

// .isVisible {
//     display: flex;
// }