@keyframes expand {
    from {
        height: 0;
    }
    to {
        height: 300px;
    }
}
@keyframes contract {
    from {
        height: 300px;
    }
    to {
        height: 0px;
    }
}

.Dropdown {
    @include flexStyle(row, center);
    flex-wrap: wrap;
    background-color: white;
    position: absolute;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    z-index: 2;
    .Section {
        padding: 20px 35px;
        width: 10%;
        .section-header {
            font-weight: 700;
            color: black;
        }
        ul {
            list-style: none;
            padding: 0;
           .section-item {
                color: darkgrey;
                &:hover {
                    color: black;
                }
           } 
        }
        a {
            display: block;
            text-decoration: none;
        }
    }
}