.filter-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    padding: 8px 0;
    font-size: 16px;
    outline: none;
    &:hover {
        color: darkgrey;
    }
}