/// Elements
@import './styles/elements/dropdown.scss';
@import './styles/elements/button.scss';
@import './styles/elements/filterBtn.scss';

/// Modules
@import './styles/modules/navbar.scss';
@import './styles/modules/navbarCollapsed.scss';
@import './styles/modules/footer.scss';
@import './styles/modules/productTile.scss';
@import './styles/modules/filterMenu.scss';
@import './styles/modules/productCarousel.scss';
@import './styles/modules/hero.scss';
@import './styles/modules/mediaPanel.scss';

/// Pages
@import './styles/pages/Landing.scss';
@import './styles/pages/Products.scss';
@import './styles/pages/ProductPage.scss';

.App {
    width: 100%;
    max-width: 1366px;
    overflow-x: hidden;
}